@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 120%;
}

a {
    @apply hover:text-[#BFA264] transition-all duration-300 inline-flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    font-family: "Chivo", sans-serif;
    line-height: 120% !important;
}

ul,
ol {
    @apply ml-0;
}

h2 {
    @apply font-normal tracking-[-0.035em] text-black capitalize text-2xl;
}

.theme_button {
    background: linear-gradient(220deg,
            #01BCBA 0%,
            #02758D 20%,
            #023161 66%,
            #023162 87%, 
            #033064 100%);
    @apply justify-center sm:py-6 py-5 px-5 sm:px-6 border border-transparent leading-0 rounded-3xl text-sm sm:text-base font-medium text-white cursor-pointer text-center;
}

.theme_button.light_mode {
    @apply rounded-full bg-gradient-to-br from-[#e8c960] to-[#ae7e17] text-white;
}

.theme_button.light_line {
    @apply bg-none border py-3.5 sm:py-4.5 border-white inline-flex gap-4 items-center bg-transparent transition-all;
}
.theme_button.light_line:hover{
      @apply bg-white border-transparent text-black;
}

.container_wrapper {
    @apply w-full max-w-321 mx-auto px-4;
}

.font_serif {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.eyebrow_text {
    @apply text-sm font-medium text-[#BFA264];
}

.overlay {
    @apply relative rounded-b-4xl;
}

.overlay::before {
    content: "";
    @apply absolute inset-0 -z-10 bg-gradient-to-r from-[#071c16]/80 via-transparent to-transparent rounded-b-4xl;
}

p:last-child {
    @apply mb-0!;
}

p {
    @apply text-sm sm:text-base font-normal;
    line-height: 180% !important;
}

h1 {
    @apply text-2xl md:text-[32px] leading-10;
}

h2.secondary_heading {
    @apply text-xl sm:text-2xl font-normal
        bg-[linear-gradient(320deg,_#01BCBA_0%,_#02758D_20%,_#023161_57%,_#033064_100%)]
        bg-clip-text text-transparent;
}